<nav class="subnavbar content">
  <ul class="list">
    <li class="list_item link"><a href="/about">关于我们</a></li>
    <li class="list_item link"><a href="/contact">联系我们</a></li>
  </ul>
</nav>
<section class="copyright content">
  <a href="{{@blog.url}}">{{@blog.title}}</a>
  &copy; {{date format="YYYY"}}
</section>
<section class="poweredby content">
  Proudly published with <a href="https://ghost.org">Ghost</a>
</section>
