<header class="header content-wrapper">
  <nav class="header_navbar content">
    <h1 class="header_brand pull-left">
      <img class="header_brand-img" src="{{asset "images/brand.png"}}" />
      <a class="header_brand-title" href="{{@blog.url}}" title="{{@blog.title}}">{{ghost_head}}</a>
    </h1>
    <ul class="header_list pull-right">
      <li class="header_list-item header_link header_link__practice">
        <a href="//www.python123.io"><i class="fa fa-code">&nbsp;</i>习题库</a>
      </li>
      <li class="header_list-item header_link header_link__discuss">
        <a href="//forum.python123.org/"><i class="fa fa-comments-o">&nbsp;</i>讨论区</a>
      </li>
    </ul>
  </nav>
  <nav class="header_subnavbar content">
    <ul class="header_list">
      <li class="header_list-item header_link">
        <a href="">新闻</a>
      </li>
      <li class="header_list-item header_link">
        <a href="">语言基础</a>
      </li>
      <li class="header_list-item header_link">
        <a href="">专题课程&nbsp;<i class="fa fa-caret-down"></i></a>
        <ul class="header_sublist">
          <li class="header_sublist-item header_link header_link__ml">
            <a href="">机器学习</a>
          </li>
          <li class="header_sublist-item header_link header_link__gd">
            <a href="">游戏开发</a>
          </li>
          <li class="header_sublist-item header_link header_link__sp">
            <a href="">网络爬虫</a>
          </li>
          <li class="header_sublist-item header_link header_link__da">
            <a href="">数据分析</a>
          </li>
          <li class="header_sublist-item header_link header_link__cs">
            <a href="">云端系统</a>
          </li>
          <li class="header_sublist-item header_link header_link__sc">
            <a href="">科学计算</a>
          </li>
        </ul>
      </li>
      <li class="header_list-item header_link">
        <a href="">资源下载</a>
      </li>
      <li class="header_list-item header_link">
        <a href="">活动安排</a>
      </li>
    </ul>
  </nav>
</header>
