<nav class="navbar">
  <h1 class="brand pull-left">
    <img class="brand-img" src="{{asset "images/brand.png"}}" />
    <a class="brand-title" href="{{@blog.url}}" title="{{@blog.title}}">{{ghost_head}}</a>
  </h1>
  <ul class="list pull-right">
    <li class="list-item link link__practice">
      <a href="//www.python123.io"><i class="fa fa-code">&nbsp;</i>习题库</a>
    </li>
    <li class="list-item link link__discuss">
      <a href="//forum.python123.org/"><i class="fa fa-comments-o">&nbsp;</i>讨论区</a>
    </li>
  </ul>
</nav>
<nav class="subnavbar">
  <ul class="list">
    <li class="list-item link">
      <a href="">新闻</a>
    </li>
    <li class="list-item link">
      <a href="">语言基础</a>
    </li>
    <li class="list-item link">
      <a href="">专题课程&nbsp;<i class="fa fa-caret-down"></i></a>
      <ul class="sublist">
        <li class="sublist-item link link__ml">
          <a href="">机器学习</a>
        </li>
        <li class="sublist-item link link__gd">
          <a href="">游戏开发</a>
        </li>
        <li class="sublist-item link link__sp">
          <a href="">网络爬虫</a>
        </li>
        <li class="sublist-item link link__da">
          <a href="">数据分析</a>
        </li>
        <li class="sublist-item link link__cs">
          <a href="">云端系统</a>
        </li>
        <li class="sublist-item link link__sc">
          <a href="">科学计算</a>
        </li>
      </ul>
    </li>
    <li class="list-item link">
      <a href="">资源下载</a>
    </li>
    <li class="list-item link">
      <a href="">活动安排</a>
    </li>
  </ul>
</nav>
