<!DOCTYPE html>
<html>
<head>
  {{> head}}
</head>
<body class="{{body_class}}">

  <header class="site-header">
    <div class="content">
      {{navigation}}
    </div>
  </header>

  <div class="main">
    <div class="content">
      {{{body}}}
    </div>
  </div>

  <footer class="site-footer">
    <div class="content">
      {{> footer}}
    </div>
  </footer>

  {{> scripts}}
</body>
</html>
