.site-header {
  display: block;
  position: relative;
  margin-bottom: 40px;
  color: $color-secondary;

  @include reset-ul;
  @include reset-a;

  @include gradient-background(90deg, $bc-gradient-start, $bc-gradient-end);
}
