@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';
@import 'brand.scss';
@import 'navbar.scss';
@import 'list.scss';
@import 'links.scss';

.copyright {
  display: block;
  padding: 5px;
  a {
    text-decoration: underline;
    &:hover {
        color: $color-secondary-hover;
    }
  }
}

.poweredby {
  display: block;
  padding: 5px;
  a {
    text-decoration: underline;
    &:hover {
        color: $color-secondary-hover;
    }
  }
}
