@mixin external-link($selector, $fc, $bc){
  #{$selector} > a {
    line-height: initial;
    padding: 10px;
    font-weight: 500;
    background-color: $bc;
    color: $fc;
    border-radius: 5px;
    transition: all .3s ease;
  }
  #{$selector}:hover > a {
    background-color: $fc;
    color: $bc;
  }
}

.link {
  > a {
    display: block;
    transition: all 1s ease;
  }
  &:hover > a {
    color: $color-secondary-hover;
  }
  &__ml:hover > a {
    color: $color-ml;
  }
  &__gd:hover > a {
    color: $color-gd;
  }
  &__sp:hover > a {
    color: $color-sp;
  }
  &__da:hover > a {
    color: $color-da;
  }
  &__cs:hover > a {
    color: $color-cs;
  }
  &__sc:hover > a {
    color: $color-sc;
  }
  @include external-link('&__practice', $color-practice, $color-secondary-hover);
  @include external-link('&__discuss', $color-discuss, $color-secondary-hover);
}
