.main {
  min-height: $min-mainheight;
  &_header {
    position: relative;
    display: block;
    height: 200px;
    padding-left: 10px;
    margin-bottom: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  &_mask {
    position: absolute;
    margin-left: -10px;
    width: 100%;
    height: 100%;
    @include gradient-background(30deg, rgba(255, 255, 255, .8), rgba(255, 255, 255, 0));
  }
  &_article {
    padding-left: 10px;
  }
}

.no-cover.main_header {
  height: auto;
  min-height: 80px;
}
