@mixin respond-to($breakpoint) {
  @if $breakpoint == "xs" {
    @media (min-width: 544px) {
      @content;
    }
  }

  @else if $breakpoint == "sm" {
    @media (min-width: 767px) {
      @content;
    }
  }

  @else if $breakpoint == "md" {
    @media (min-width: 991px) {
      @content;
    }
  }

  @else if $breakpoint == "lg" {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin gradient-background($deg, $start, $end) {
  background: $start;
  background: -webkit-linear-gradient($deg, $start, $end);
  background: -moz-linear-gradient($deg, $start, $end);
  background: -o-linear-gradient($deg, $start, $end);
  background: linear-gradient($deg, $start, $end);
}
