@mixin respond-to($breakpoint) {
  @if $breakpoint == "xs" {
    @media (min-width: 544px) {
      @content;
    }
  }

  @else if $breakpoint == "sm" {
    @media (min-width: 767px) {
      @content;
    }
  }

  @else if $breakpoint == "md" {
    @media (min-width: 991px) {
      @content;
    }
  }

  @else if $breakpoint == "lg" {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
