$brand-height: 85px;
$brand-width: 170px;

@mixin list-item {
  position: relative;
  margin: 0 10px;
  padding: 10px;
  display: inline-block;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.header {
  position: relative;
  color: $color;
  border-bottom: 1px solid #e5eff5;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: all 1s ease;
  }

  &_brand {
    position: relative;
    height: $brand-height;
    width: $brand-width;
    margin: 0;
    font-size: 1.5em;
  }

  &_brand-img {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &_brand-title {
    position: absolute;
    height: 100%;
    width: 100%;
    text-indent: -9999px;
  }

  &_navbar {
    padding: 10px 0;
    height: 85px;
    line-height: 85px;
    font-size: 1.25em;
  }

  &_subnavbar{
    padding: 0;
  }

  &_list {
  }

  &_list-item {
    @include list-item;
  }

  &_list-item:hover &_sublist {
    height: auto;
    opacity: 1;
  }

  &_sublist {
    position: absolute;
    white-space: nowrap;
    top: 100%;
    left: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 1s ease;
  }

  &_sublist-item {
    @include list-item;
  }

  &_link {
    &:hover > a {
      color: $color-hover;
    }
    &__ml:hover > a {
      color: $color-ml;
    }
    &__gd:hover > a {
      color: $color-gd;
    }
    &__sp:hover > a {
      color: $color-sp;
    }
    &__da:hover > a {
      color: $color-da;
    }
    &__cs:hover > a {
      color: $color-cs;
    }
    &__sc:hover > a {
      color: $color-sc;
    }
    &__practice > a {
      line-height: initial;
      padding: 10px;
      color: lighten(#008000, 10%);
      border: 1px lighten(#008000, 10%) solid;
      border-radius: 5px;
    }
    &__practice:hover > a {
      color: #008000;
      border-color: #008000;
    }
    &__discuss > a {
      line-height: initial;
      padding: 10px;
      color: lighten(#800080, 15%);
      border: 1px lighten(#800080, 15%) solid;
      border-radius: 5px;
    }
    &__discuss:hover > a {
      color: #800080;
      border-color: #800080;
    }
  }
}
